<div class="bg-white px-10 py-8">
  <div class="mb-10">
    <div class="flex items-center gap-3">
      <h1 class="text-3xl font-bold text-[#0a2d6e]">¡Hola {{ perfilEntrenador.nombre }} !</h1>
    </div>
  </div>

  <div class="flex gap-12 items-stretch">
    <div class="flex flex-col gap-3 w-76 h-100 shrink-0">
      <div
        class="bg-[#f5c400] rounded-3xl flex flex-col items-center py-6 px-4 flex-1 overflow-hidden"
      >
        <p class="font-bold text-lg text-[#0a2d6e] mb-3 text-center">Entrenador</p>
        <img
          [src]="fotoUrl()"
          alt="Imagen de perfil"
          class="w-40 h-40 rounded-full bg-white border-4 border-white shadow-md overflow-hidden object-cover"
        />
        @if (perfilEntrenador.pasatiempo && perfilEntrenador.pasatiempo.length > 0) {
          <p class="text-[#0a2d6e] text-sm mt-2 text-center px-2">
            <strong>Pasatiempo: </strong> {{ perfilEntrenador.pasatiempo.join(', ') || '' }}
          </p>
        }

        <p class="text-[#0a2d6e] text-sm mt-1 text-center">
          <strong>Edad: </strong> {{ perfilEntrenador.edad }} años
        </p>
        @if (perfilEntrenador.edad && perfilEntrenador.edad >= 18) {
          <p class="text-[#0a2d6e] text-sm mt-1 text-center px-2">
            <strong>DUI: </strong> {{ perfilEntrenador.documento }}
          </p>
        } @else {
          <p class="text-[#0a2d6e] text-sm mt-1 text-center px-2">
            <strong>Carne de minoridad: </strong> {{ perfilEntrenador.documento }}
          </p>
        }
      </div>
    </div>

    <div class="flex-1 max-w-md">
      <h2 class="text-2xl font-bold text-[#0a2d6e] mb-1">Mis Pokemon</h2>

      <cdk-virtual-scroll-viewport
        [itemSize]="160"
        class="h-[480px] border border-gray-200 rounded-lg bg-gray-50"
      >
        <div
          *cdkVirtualFor="let detalle of pokemonesSeleccionadosArray()"
          class="flex gap-4 bg-white rounded-xl p-4 mb-3 mx-2 shadow-sm"
        >
          <div class="flex flex-col items-center justify-center w-32 shrink-0">
            <img
              [src]="detalle.sprites.other.home.front_default"
              [alt]="detalle.name"
              class="w-24 h-24 object-contain"
            />
            <span
              class="inline-block text-xs font-semibold capitalize px-3 py-1 rounded-full truncate max-w-full bg-[#0a2d6e] text-white mt-2"
            >
              #{{ detalle.id }} {{ detalle.name }}
            </span>
          </div>

          <div class="flex-1 flex flex-col justify-center gap-2">
            @for (stat of detalle.stats; track stat.stat.name) {
              <div class="flex items-center gap-2">
                <span class="text-xs text-gray-500 w-28 shrink-0">{{
                  statInfo[stat.stat.name]?.label ?? stat.stat.name
                }}</span>
                <div class="flex-1 bg-gray-200 rounded-full h-2">
                  <div
                    class="bg-[#0a2d6e] h-2 rounded-full"
                    [style.width.%]="
                      (stat.base_stat / (statInfo[stat.stat.name]?.max ?? 255)) * 100
                    "
                  ></div>
                </div>
                <span class="text-xs font-bold text-[#0a2d6e] w-8 text-right">{{
                  stat.base_stat
                }}</span>
              </div>
            }
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>
</div>
